{% extends "base.html" %}
{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-black"> Living to tell the tale ✍️ </h3>
          <p class="text-dark">"A person who never made a mistake never tried anything new." ~ Albert Einstein ✨✨✨ </p>
        </div>
      </div>
    </div>
  </div>
</header>
    <footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
          <div class="card mb-4">
            <div class="card-body">
              <h2 class="card-title" style="margin-bottom: 20px;">Contact</h2>
              <div class="col-md-6">
                <ul class="list-unstyled social-links">
                  <li><a href="tel:+919633032620" class="fa fa-phone" style="margin-right: 20px;margin-bottom: 20px;"></a>+91 9633032620</li>
                  <li><a href="mailto:abhinavshyjasujeesh@gmail.com" class="fa fa-envelope" style="margin-right: 20px;margin-bottom: 20px;"></a>abhinavshyjasujeesh@gmail.com</li> 
                  <li><a href="https://www.google.com/maps/place/Kozhikode,+Kerala/@11.2558347,75.810814,12z/data=!3m1!4b1!4m6!3m5!1s0x3ba65938563d4747:0x32150641ca32ecab!8m2!3d11.2587531!4d75.78041!16zL20vMGZrYmg?entry=ttu" class="fa fa-map" style="margin-right: 20px;"></a>Calicut, Kerala, India</li> 
                </ul>
                <h4 style="margin-top: 40px;">Social Links</h4>
                <ul class="list-unstyled social-links">
                  <li><a href="https://instagram.com/abhinav__s___?igshid=MzRlODBiNWFlZA==" class="fa fa-instagram"></a></li>
                  <li><a href="https://www.linkedin.com/in/abhinav-sujeesh-6531a91a9/" class="fa fa-linkedin"></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
    <style>
          .footer {
      background-color: #f8f8f8;
      padding: 5px;
      transition: all 0.3s ease;
      bottom: 0;
    }
    
    .social-links li {
      display: inline-block;
      margin-right: 10px;
    }
    
    .social-links a {
      color: #110f0f;
      font-size: 24px;
    }
    
    .footer h4 {
      margin-bottom: 10px;
    }
    </style>
    </footer>
{%endblock%}
