{% extends "base.html" %}
{% block content %}
<header class="masthead">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class=" col-md-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h3 class=" site-heading my-4 mt-3 text-black"> Living to tell the tale ✍️ </h3>
          <p class="text-dark">"A person who never made a mistake never tried anything new." ~ Albert Einstein ✨✨✨ </p>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <!-- Blog Entries Column -->
    <div class="col-md-8 mt-3 left">
      <!-- {% for post in post_list %}
      <div class="card mb-4 {% if post.type == 'Book Review' %}book-review{% elif post.type == 'Film Review' %}film-review{% elif post.type == 'Social Views' %}social-views{% endif %}">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
          <p class="card-text">{{post.content|slice:":200"}}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary" onclick="incrementCounter('{{ post.id }}')">Read More &rarr;</a>
        </div>
        <p class="counter" style="margin-left: 30px;">Views : <span id="counter_{{ post.id }}">0</span></p>
      </div>
      {% endfor %} -->
      {% for post in post_list %}
      {% if post.type == 'general' %} {# Display only if the type is 'general' #}
      <div class="card mb-4">
        <div class="card-body">
          <!-- post content -->
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
          <p class="card-text">{{post.content|slice:":200"}}</p>
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary" onclick="incrementCounter('{{ post.id }}')">Read More &rarr;</a>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    {% block sidebar %} 
    {% include 'sidebar.html' %} 
    {% endblock sidebar %}
  </div>
</div>
<script>
  function incrementCounter(postId) {
  var counterElement = document.getElementById("counter_" + postId);
  var count = parseInt(counterElement.textContent);
  count++;
  counterElement.textContent = count;
}
</script>
<style>
  .card.book-review, .card.film-review, .card.social-views {
  display: none;
}

.card.active {
  display: block;
}
</style>
{%endblock%}
