{% block sidebar %}

<style>
  .card {
    box-shadow: 0 16px 48px #6a6a6b;
  }
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right">
  <div class="card my-3">
    <h5 class="card-header">About</h5>
    <div class="card-body">
      <p class="card-text"> Cornucopia - "An abundant supply of good things"</p>
      <p>Basically this blog includes personal views on certain hot buttons, movie reviews and book reviews!!</p>
      <a href="https://ajithv-portfolio.web.app" class="btn btn-danger">Visit Website!</a>
    </div>
  </div>
</div>

{% endblock sidebar %}